/*Section title*/
h1 {
  font-family: $font-header;
  font-display: swap;
  font-size: 75px;
  font-weight: $font-bold;
  font-style: normal;
  color: $section-title-color;
  justify-content: center;
  letter-spacing: 8px;
  @media (max-width: 599px) {
    font-size: 0.875rem;
  };
  @media (min-width: 600px) and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

p {
  font-family: $font-header;
  font-display: swap;
  color: #ffff;
  @media (max-width: 599px) {
    font-size: 0.875rem;
    overflow: hidden;
  };
  @media (min-width: 600px) and (max-width: 768px) {
    font-size: 1.5rem;
    overflow: hidden;
  };
}