/*Section title*/
h1 {
  font-family: $font-header;
  font-size: 75px;
  font-weight: $font-bold;
  font-style: normal;
  color: $section-title-color ;
  justify-content: center;
}

p {
  font-family: $font-header;
  color: #ffff;
}